.countdown {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.timer {
	font-size: 1rem;
	font-weight: 600;
	font-family: 'Playfair Display', serif;
	animation: scale 1s infinite reverse;
}

@keyframes scale {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(8);
	}
}