.splashScreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--primary-color);
	z-index: 99999;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeOut 5s linear;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}